<div class="flex flex-col items-center justify-center h-screen">
    <h2 class="text-2xl mb-4">Upload Profile Image</h2>
    
    <!-- Round Technician Profile Picture -->
    <div class="mb-4">
      <img
        [src]="techData.data.image"  
        alt="Profile"
        class="w-36 h-36 rounded-full object-cover"
      />
    </div>
  
    <form  (ngSubmit)="onSubmit()" class="flex flex-col items-center">
      <input
      type="file"
      (change)="onFileSelected($event)"
        class="mb-4 border border-gray-300 p-2 rounded"
      />
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Upload
      </button>
    </form>
  </div>
  