<div class="flex items-center justify-center h-screen w-4/5 mx-auto">
    <form class="w-full max-w-full p-10 rounded-lg shadow-md bg-white">
      <div class="flex justify-center mb-6">
        <h1 class="text-center font-serif font-bold text-5xl mb-8 flex items-center justify-center">
          <span class="text-red-600 text-md font-medium mr-2">{{ minutes }}:{{ seconds | number: '2.0' }}</span>
          <svg class="w-8 h-8 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
          OTP VERIFICATION
        </h1>
      </div>
      <div class="mb-6">
        <label for="otp" class="block text-gray-700 text-sm font-bold mb-2">Enter OTP</label>
        <input type="text" id="otp" name="otp" [(ngModel)]="otp" class="shadow appearance-none border rounded w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter OTP">
      </div>
      <button type="button" (click)="submitOtp()" class="mt-8 w-full bg-blue-500 text-white text-lg hover:scale-105 transform transition duration-700 ease-in-out py-3 rounded-lg inline-flex items-center justify-center">
        <span class="ml-2">Submit</span>
      </button>
    </form>
  </div>
  