<div class="flex h-screen">
  <!-- Chat Container -->
  <div class="flex flex-col w-full h-[80%]">
    <!-- User Info -->
    <div class="flex items-center p-4 bg-gray-100 border-b border-gray-300">
      <img src="https://marketplace.canva.com/EAFHfL_zPBk/1/0/1600w/canva-yellow-inspiration-modern-instagram-profile-picture-kpZhUIzCx_w.jpg" alt="User Image" class="h-10 w-10 rounded-full">
      <span class="ml-2 text-lg font-bold" *ngIf="technicianData">{{technicianData.name}}</span>
    </div>

    <!-- Messages -->
    <div class="messages flex-grow overflow-y-auto p-4 bg-white">
      <div *ngFor="let data of messages" 
           [ngClass]="{ 'bg-green-200 self-end text-right': data.senderType === 'user', 'bg-blue-200 self-start text-left': data.senderType === 'technician' }"
           class="p-4 mb-2 rounded-lg max-w-60%">
        <p>{{ data.content }}</p>
        <span class="text-xs text-gray-500">{{ data.createdAt | date:'shortTime' }}</span>
      </div>
    </div>

    <!-- New Message -->
    <div class="p-4 bg-gray-100 border-t border-gray-300">
      <div class="flex">
        <input [(ngModel)]="newMessage" placeholder="Type a message..." class="flex-grow p-2 border border-gray-300 rounded-l-lg focus:outline-none">
        <button (click)="sendMessage()" class="p-2 bg-blue-500 text-white rounded-r-lg">Send</button>
      </div>
    </div>
  </div>
</div>
