<div class="flex h-screen bg-gradient-to-r from-slate-900" >
  <!-- Chat Container -->
  <div  class="flex flex-col  w-full h-[513px]">
    <!-- User Info -->
    <div class="flex items-center p-4 bg-gradient-to-r from-slate-900 border-b border-r border-gray-300">
      <img [src]="technicianData?.image || 'https://marketplace.canva.com/EAFHfL_zPBk/1/0/1600w/canva-yellow-inspiration-modern-instagram-profile-picture-kpZhUIzCx_w.jpg'" alt="User Image" class="h-10 w-10 rounded-full">
      
      <span class="ml-2 text-lg text-gray-100 font-bold" *ngIf="technicianData">{{technicianData?.name}}</span>
      
      <!-- <div (click)="showInputmodal()" class="ml-auto">
        <svg class="w-[34px] h-[34px] text-red-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"/>
        </svg>
        
      </div> -->
    </div>
    

    <!-- Messages -->
    <div #messagesContainer class="messages flex-grow overflow-y-auto mb-auto   bg-gradient-to-r border-b from-slate-900 border-r">
      <div *ngFor="let data of messages" 
           [ngClass]="{ '  text-right': data.senderType === 'user', ' self-start text-left': data.senderType === 'technician' }"
           class="m-2 p-2  rounded-lg  ">
           <div class="border  rounded">
            <p class="  text-gray-50 p-4  ">{{ data?.content }}</p>

           </div>
        <span class="text-xs text-gray-500">{{ data.createdAt | date:'shortTime' }}</span>
      </div>
    </div>

    <!-- New Message -->
      <div class="p-4 bg-gradient-to-r border-b from-slate-900 border-r">
        <div class="flex">
          <input [(ngModel)]="newMessage" placeholder="Type a message..." class="flex-grow p-2 border border-gray-300 rounded-l-lg focus:outline-none">
          <button (click)="sendMessage()" class="p-2 bg-black text-white rounded-r-lg">Send</button>
        </div>
    </div>
  </div>
</div>
