.p-toast .p-toast-message-custom {
    background-color: #d1e7dd; /* Light green background color */
    color: #0f5132; /* Dark green text color */
  }
  
  .p-toast .p-toast-message-custom .p-toast-summary {
    font-weight: bold;
    color: #0d6efd; /* Blue text color for the summary */
  }
  
  .p-toast .p-toast-message-custom .p-toast-detail {
    color: #0d6efd; /* Blue text color for the detail */
  }
