<div class="table-container">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Appointment Date</th>
        <th scope="col" class="px-6 py-3">Time</th>
        <th scope="col" class="px-6 py-3">Technician Name</th>
        <th scope="col" class="px-6 py-3">Booked Date</th>
        <th scope="col" class="px-6 py-3">Payment Method</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="BookingData && BookingData.length > 0">
      <tr *ngFor="let booking of BookingData" class="bg-gradient-to-r border-b from-slate-900 text-gray-100 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-6 py-4">
          <div class="text-base font-semibold">{{ booking.slotId.date | date }}</div>
        </td>
        <td class="px-6 py-4">
          <div>{{ booking.slotId.time }}</div>
        </td>
        <td class="px-6 py-4">
          <div>{{ booking.technicianId.name }}</div>
        </td>
        <td class="px-6 py-4">
          <div>{{ booking.bookingDate | date }}</div>
        </td>
        <td class="px-6 py-4">
          <div>{{ booking.paymentMethod }}</div>
        </td>
        <td class="px-6 py-4">
          <div>{{ booking.status }}</div>
        </td>
        <td class="px-6 py-4">
          <button class="bg-black text-white font-semibold px-4 py-2 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50">
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="BookingData.length === 0">
      <tr>
        <td colspan="7" class="px-6 py-4 text-center">No bookings found</td>
      </tr>
    </tbody>
  </table>
</div>
