<section>
    <form class="p-4 md:p-5" [formGroup]="designationForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="designation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Designation</label>
            <input 
                type="text" 
                formControlName="designation" 
                id="designation" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                placeholder="Type new designation" 
                required
            >
            <div *ngIf="designationForm.controls['designation'].invalid && (designationForm.controls['designation'].dirty || designationForm.controls['designation'].touched)" class="text-red-500 text-xs mt-1">
                <span *ngIf="designationForm.controls['designation'].errors?.['required']">Designation is required.</span>
                <span *ngIf="designationForm.controls['designation'].errors?.['pattern']">Only alphabetic characters and spaces are allowed.</span>
            </div>
        </div>
        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
            </svg>
            Save
        </button>
    </form>
</section>