<div class="text-center">
    <h1 class="text-4xl font-bold mb-8">Welcome to Findtech</h1>
    
    <form class="max-w-md mx-auto mb-8">
      <label for="countries" class="block mb-4 text-lg font-medium text-gray-900 dark:text-white">Select Your Designation</label>
      <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
       
        <option value="MT">Computer Technician</option>
        <option selected>Mobile Technician</option>
        <option value="AC">AC Technician</option>
       
      </select>
    </form>

    <button  routerLink="/technician/quiz-page" type="button" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-lg px-6 py-3 text-center mb-2">Start Quiz</button>
  </div>