
<!-- <div class="spinner-container" *ngIf="isLoading">
    <div class="spinner w-16 h-16 border-8 border-dashed rounded-full animate-spin border-blue-600"></div>
  </div> -->
  <div *ngIf="isLoading" class=" flex items-center justify-center w-full h-[100vh] text-whitetext-white dark:bg-white">
    <div>
      <h1 class="text-xl md:text-7xl font-bold flex items-center">L<svg stroke="currentColor" fill="red" stroke-width="0"
          viewBox="0 0 24 24" class="animate-spin" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM13.6695 15.9999H10.3295L8.95053 17.8969L9.5044 19.6031C10.2897 19.8607 11.1286 20 12 20C12.8714 20 13.7103 19.8607 14.4956 19.6031L15.0485 17.8969L13.6695 15.9999ZM5.29354 10.8719L4.00222 11.8095L4 12C4 13.7297 4.54894 15.3312 5.4821 16.6397L7.39254 16.6399L8.71453 14.8199L7.68654 11.6499L5.29354 10.8719ZM18.7055 10.8719L16.3125 11.6499L15.2845 14.8199L16.6065 16.6399L18.5179 16.6397C19.4511 15.3312 20 13.7297 20 12L19.997 11.81L18.7055 10.8719ZM12 9.536L9.656 11.238L10.552 14H13.447L14.343 11.238L12 9.536ZM14.2914 4.33299L12.9995 5.27293V7.78993L15.6935 9.74693L17.9325 9.01993L18.4867 7.3168C17.467 5.90685 15.9988 4.84254 14.2914 4.33299ZM9.70757 4.33329C8.00021 4.84307 6.53216 5.90762 5.51261 7.31778L6.06653 9.01993L8.30554 9.74693L10.9995 7.78993V5.27293L9.70757 4.33329Z">
          </path>
        </svg> ading . . .</h1>
    </div>
  </div>
 <div class=" flex justify-center">

    <div class="flex items-center justify-center m-7 w-4/5  bg-gradient-to-r from-slate-900 to-slate-700  ">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full max-w-full p-4 rounded-lg shadow-md bg-gradient-to-r from-slate-900 to-slate-700 border">
           
            <div class="flex justify-center mb-2 ">
                <h1 class="text-center font-serif text-gray-100 font-bold text-5xl mb-2 flex items-center justify-center">
                    <svg class="w-8 h-8 text-gray-100 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    Login
                </h1>
            </div>
    
            <div class="flex justify-end mt-4" id="login-btn">
                <button type="button" routerLink="/google-signin" class="text-white justify-center bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                    <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
                        <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
                    </svg>
                    Sign in with Google
                </button>
            </div>
            <div class="mb-4 ">
                <label for="email" class="text-gray-100 text-sm font-bold mb-2 inline-flex items-center">
                    <svg class="w-6 h-6 text-gray-100 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2.1" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
                      </svg>
                      
                    <span>Email</span>
                </label>
                <input type="email" id="email" formControlName="email" class="shadow appearance-none border rounded w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Email">
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-red-500 text-xs italic">Email is required.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-red-500 text-xs italic">Invalid email address.</div>
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class=" text-gray-100 text-sm font-bold mb-2 inline-flex items-center">
                    <svg class="w-6 h-6 text-gray-100 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"/>
                    </svg>
                    <span>Password</span>
                </label>
                <input type="password" id="password" formControlName="password" class="shadow appearance-none border rounded w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Password">
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-500 text-xs italic">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['pattern']" class="text-red-500 text-xs italic">Password must contain at least one uppercase letter, one number, and no spaces.</div>
                </div>
            </div>
            <button type="submit"
                    class="py-2 px-4 rounded focus:outline-none block mx-auto w-40 mt-4"
                    [class.bg-blue-500]="loginForm.valid"
                    [class.bg-gray-300]="loginForm.invalid"
                    [disabled]="loginForm.invalid">
                <span class="text-white  font-bold" *ngIf="loginForm.valid">Submit</span>
                <span class="text-gray-600" *ngIf="loginForm.invalid">Submit</span>
            </button>
            <div class="flex flex-col justify-center items-center mt-2 space-y-2">
                <a href="#" class="text-blue-500">Forgot Password?</a>
                <a routerLink="/signup" class="text-blue-500">Create a New Account?</a>
                <a routerLink="/technician" class="text-blue-800">Are you a Technician?</a>
            </div>
        </form>
    </div>

 </div>

